{% extends "base.html" %}

{% block titulo %}Inicio{% endblock %}

{% block contenido %} 

<div class="p-5 bg-light">
    <div class="container">
        <h1 class="display-3">¡Bienvenidos a PréstamoClick! Tu solución rápida y confiable para gestionar préstamos online.</h1>
        <p class="lead">registrate / inicia sesion para gestionar tus prestamos</p>
        <hr class="my-2">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'registro' %}" role="button"> Empezar</a>
        </p>
    </div>
</div>
 
{% endblock %}