{% extends "base.html" %}
{% block extra_css %}
    <style>
        body {
            background-image: linear-gradient(90deg, #430c87 0%, #3d1d95 35%, #00d4ff 100%);
        }
    </style>
{% endblock %}
{% block titulo %} Editar Cliente {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-header">Editar Informacion del Cliente</div>
    <div class="card-body">
        <h4 class="card-title">Datos del cliente</h4>

        {% include "clientes/form.html"  %} 

    </div>
    <div class="card-footer text-muted"></div>
</div>
 
{% endblock %}