<form enctype="multipart/form-data" method="post">
    <div class="mb-3">
        <label for="" class="form-label">Nombre</label>
        <input
            type="text"
            class="form-control"
            name=""
            id=""
            aria-describedby="helpId"
            placeholder="Nombre"
        />
        
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input
            type="email"
            class="form-control"
            name=""
            id=""
            aria-describedby="helpId"
            placeholder="Cliente@gmail.com"
        />
        
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Telefono</label>
        <input
            type="tel"
            class="form-control"
            name=""
            id=""
            aria-describedby="helpId"
            placeholder="01 23456789"
        />
        
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Direccion</label>
        <input
            type="text"
            class="form-control"
            name=""
            id=""
            aria-describedby="helpId"
            placeholder="Direccion 1234"
        />
        
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Identifiicacion</label>
        <input
            type="text"
            class="form-control"
            name=""
            id=""
            aria-describedby="helpId"
            placeholder="12345678"
        />
        
    </div>
</form>   