{% extends "base.html" %}

{% block titulo %} Lista de Clientes  {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-header">
        <a
            name=""
            id=""
            class="btn btn-primary"
            href="http://127.0.0.1:8000/clientes/crear"
            role="button"
            >Agregar Nuevo Cliente</a
        >
        
    </div>
    <div class="card-body">
        <h4 class="card-title">Clientes</h4>
        <div
            class="table-responsive"
        >
            <table
                class="table table-primary"
            >
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Email</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Identificacion</th>
                        <th scope="col">Calificacion</th>
                        <th scope="col">Fecha registro</th>
                        <th scope="col">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td>1</td>
                        <td>Valentin</td>
                        <td>valen125125@gmail.com</td>
                        <td>11 12345678</td>
                        <td>casa 1234</td>
                        <td>12345678</td>
                        <td>5</td>
                        <td>10/12/24</td>
                        <td> <a
                            name=""
                            id=""
                            class="btn btn-info"
                            href="http://127.0.0.1:8000/clientes/editar"
                            role="button"
                            >Editar</a
                        >
                         | <a
                            name=""
                            id=""
                            class="btn btn-danger"
                            href="#"
                            role="button"
                            >Borrar</a
                         >
                         </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        
    </div>
    
</div>

 
{% endblock %}