{% extends "base.html" %}

{% block titulo %} Lista de Clientes  {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-header">
        <a
            name=""
            id=""
            class="btn btn-primary"
            href="{% url 'crear_clientes' %}"
            role="button"
            >Agregar Nuevo Cliente</a
        >
        
    </div>
    <div class="card-body">
        <h4 class="card-title">Clientes</h4>
        <div
            class="table-responsive"
        >
            <table
                class="table table-primary"
            >
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Email</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Identificacion</th>
                        <th scope="col">Calificacion</th>
                        <th scope="col">Fecha registro</th>
                        <th scope="col">Accion</th>
                    </tr>
                </thead>
                <tbody>

                    {% for cliente in clientes %}
                        {% if cliente.activo%}

                            <tr class="">
                                <td>{{cliente.id}}</td>
                                <td>{{cliente.nombre}}</td>
                                <td>{{cliente.email}}</td>
                                <td>{{cliente.telefono}}</td>
                                <td>{{cliente.direccion}}</td>
                                <td>{{cliente.identificacion}}</td>
                                <td>{{cliente.calificacion}}</td>
                                <td>{{cliente.fecha_registro}}</td>
                                <td> <a
                                    name=""
                                    id=""
                                    class="btn btn-info"
                                    href="{% url 'editar_clientes' %}"
                                    role="button"
                                    >Editar</a
                                >
                                | <a
                                    name=""
                                    id=""
                                    class="btn btn-danger"
                                    href="{% url 'eliminar_clientes' cliente.id %}"
                                    role="button"
                                    >Borrar</a
                                >
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    
</div>

 
{% endblock %}